<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>About Majid</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'portfolio/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="{% static 'portfolio/css/johndoe.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a href="{% url 'my-cv' %}" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i>Download CV</a>
    
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href='https://twitter.com/_Adeiza_'><i class="ti-twitter" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://github.com/Abdul12majid?tab=repositories"><i class="ti-github" aria-hidden="true"></i></a></li>
                
            </ul>  
            <div class="header-content">
                <h4 class="header-subtitle" >Hello stranger, I am</h4>
                <h1 class="header-title">Majid</h1>
                <h6 class="header-mono" >Software | Developer</h6>
                
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'my-resume' %}" class="nav-link">Resume</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">

                    <img src="{% static 'portfolio/imgs/am.jpeg' %}" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Abdul Majid</h5>
                        <div class="brand-subtitle">Web Designer | Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a href="{% url 'projects' %}" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="{% url 'contact-me' %}" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">A Web Designer / Developer</h5>
                <p class="mt-20">Majid is a backend developer with over 4 years of experience in Python web frameworks like Django, Django-Rest, Flask, and FastAPI. I specialize in building APIs, automation scripts, and database-driven systems. Experienced in microservices, RESTful architecture, and system integrations, I also have a solid grasp of Linux and deployment workflows.</p>
                <p class="mb-3">Passionate about learning and mentoring, I thrive on creating impactful solutions and collaborating with teams.</p>
                <a href="{% url 'my-cv' %}" class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>My CV</a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal Info</h3>
                <span class="line mb-5"></span>
                <div class='col-1'>
                </div> </br>
                <ul class="mt40 info list-unstyled">
                    <li><span>Name</span> : Abdul Majid</li>
                    <li><span>Email</span> : yisaabdulmajid@gmail.com</li>
                    <li><span>Education</span> : Bsc. Computer Science.</li>
                    <li><span>Languages</span> : HTML, CSS, TailwindCSS, JavaScript, Python, Bash</li>
                    <li><span>Frameworks</span> : HTMX, React-Js, Flask, Django, Django-rest, Vyper.</li>
                    <li><span>Version Control</span> : Git/Github</li>
                    <li><span>Databases: MongoDB, PostgreSQL, Sqlite3</span></li>
                    <li><span>Tools: Linux, Docker</span></li>
                    
                </ul>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">My Expertise</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Backend Development</h6>
                        <p class="subtitle"></p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget ti-robot icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Bot Development</h6>
                        <p class="subtitle"></p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget ti-robot icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>API Development</h6>
                        <p class="subtitle"></p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget ti-loop icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Automation</h6>
                        <p class="subtitle"></p>
                        <hr>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Operations Engr</h6>
                        <p class="subtitle"></p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger"></i> By <a href="" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">Majid</span></a> 
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="{% static 'portfolio/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'portfolio/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'portfolio/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Isotope  -->
    <script src="{% static 'portfolio/vendors/isotope/isotope.pkgd.js' %}"></script>
    
    <!-- Google mpas -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- JohnDoe js -->
    <script src="{% static 'portfolio/js/johndoe.js' %}"></script>

</body>
</html>
